<!-- seccion footer -->
<div class="footer">
    
    <div class="contenedor1">
        <div class="Noticias">
            <h5 class ="item_1">
              Noticias consejos y tendencias del comercio electrónico
            </h5>
            <ul class="lista">
              <li><a href= "#">Blog</a></li>
              <li><a href= "#">Casos de éxito</a></li>
              <li><a href= "#">Contáctanos</a></li>
              <li><a href= "#">Eventos</a></li>
              <li><a href= "#">Conceptos del comercio electrónico</a></li>
              <li><a href= "#">Preguntas frecuentes</a></li>          
            </ul>
         </div>
    </div>

    <div class="contenedor2">
        
        <div class="Acerca" style="height: 38vh;" >
            <h5 class="item_1">Acerca de Nephila Group</h5>
            <ul>
              <li><a href="#">Nuestra Compañia</a></li>
              <li><a href="#">Socios</a></li>
            </ul>
            </div>
    </div>

    <div class="contenedor3">
    
    <div class="Cont" style="height: 38vh;">
      <h5 class="item_1">¿Tienes una pregunta?</h5>
      <a class="btn_consulta" href="#">Consulta Gratuita</a>
      <h6 class="item_1">
        O puedes escribirnos por WhatsApp de lunes a viernes, de 9 a. m. a 5
        p. m.
      </h6>
    </div>
    </div>

    <div class="contenedor4">
        <div class="contacto" style="height: 38vh;">
            <h5 class="item_1">Contáctanos</h5>
              <div>
            <ul>
              <li>
                <img
                  class="img_cont"
                  src="{{telefono}}"
                  alt="tel"
                /><a href="#">018000345567 Opción 4</a>
              </li>
              <li>
                <img
                  class="img_cont"
                  src="{{correo}}"
                  alt="mail"
                /><a href="#">Mail</a>
              </li>
            </ul>
            </div>
            <h5 class="item_1">Síguenos</h5>
            <div>
                <ul>
                  <li>
                    <a href="https://es-la.facebook.com/" target="_blank"><img class="social" src="{{face}}" alt="face"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img class="social" src="{{insta}}" alt="insta"></a>
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank"><img class="social" src="{{what}}" alt="what"></a>
                   </li>
                   </ul>
            </div>
        </div>
          </div>
    </div>
    
   
    
          
        <div class="linea_footer"></div>
       <div class final><h6 class="text_footer">©2022 | Todos los derechos reservados | Bogotá - Colombia |</h6></div> 
